{%extends 'base.html'%}
{%load static%}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">GetAJob</h1>
                    <p class="lead fw-normal text-white-50 mb-0">
{%block content%}</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <center>
                    <div class="col-8">
                        orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet odio ac facilisis pulvinar. Fusce sodales consequat eleifend. Ut eu dictum mauris. Nunc placerat condimentum placerat. Donec nec ex libero. Aliquam ullamcorper, velit rhoncus convallis pretium, nibh odio iaculis est, in eleifend libero arcu nec ante. Nam bibendum odio at justo luctus, sed malesuada magna sagittis. Donec vel dolor nisl. Sed bibendum dui id metus eleifend sollicitudin. Morbi sed porta arcu. Nullam eu varius lacus.

Phasellus iaculis lacus at mauris fermentum, in fermentum leo convallis. Etiam ut sagittis nisl, ut faucibus lacus. Proin interdum ex et erat commodo, sit amet imperdiet nunc accumsan. Praesent accumsan consectetur tempus. Pellentesque sit amet interdum nisl, eu commodo massa. Sed nisl risus, semper ac ipsum et, rutrum congue odio. Cras sit amet viverra tellus, condimentum semper odio. Nullam magna quam, euismod at ante vel, porta suscipit lectus.

Ut libero magna, dignissim vitae consectetur a, dapibus eu felis. Suspendisse nec venenatis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum risus urna, blandit et suscipit sed, ornare at sem. Quisque mollis porta facilisis. Donec nec vulputate magna. Nunc vulputate venenatis eleifend. Aliquam vestibulum elit eget sollicitudin congue. Fusce id eros vel libero sollicitudin euismod. Mauris vel odio et quam dapibus fermentum. Etiam sagittis ligula libero, imperdiet varius ipsum dapibus vel. Vivamus id elit id massa feugiat ornare eu ac metus.

Praesent consequat sagittis pretium. Nam at facilisis odio. Phasellus consectetur ornare condimentum. Proin eget ante luctus, maximus ante eu, pellentesque leo. Mauris quis ex non erat pellentesque varius. In eget tincidunt ligula, vel fringilla ante. Aenean nec nibh sit amet dui sodales facilisis et id arcu. Nunc pulvinar varius ex, at feugiat ex eleifend in. Morbi nec est tortor. Donec sed felis sed orci lobortis viverra. Donec quis elit rhoncus, ornare erat a, porttitor tortor. Integer ac arcu id lacus pharetra vestibulum. Sed sodales accumsan augue viverra congue.

Praesent vel ornare erat, at tincidunt nisl. Morbi finibus maximus nunc, nec sollicitudin metus dapibus a. Cras semper vel nisl quis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pellentesque erat libero, quis scelerisque risus blandit vel. Suspendisse eleifend luctus lorem, vel tristique augue efficitur eu. Integer at convallis lacus. Nullam quis dolor libero. Mauris ac scelerisque neque. Nunc a bibendum nibh, vel pharetra libero. Aliquam nisi nulla, suscipit a ullamcorper eget, vehicula dapibus arcu. Proin in pharetra leo, sed varius sem.
                    </div>
                    </center>
                </div>
            </div>
        </header>

{% endblock %}