 {%extends 'base.html'%}


{%block content%}</p>
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Register to GetAJob here!</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <center>
                    <form method="POST" action="{%url 'register'%}"> 
                        {% csrf_token %}

                        {{ form.as_p}}
                        <button type="submit" class="btn btn-secondary">Register</button> 
  
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
</form>
                    <div class="col-8">
  
                    </div>
                    </center>
                </div>
            </div>
        </header>

{% endblock %}